.html{
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
}

.fixed-header, ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
}

header {
    width: 100%;
    position: fixed;
}

li {
    list-style-type: none;
    align-self: center;
    margin-right: 10px;
}

.metal-img {
    height: auto;
    width: 30px;
}

a {
    text-decoration: none;
}

#cosmere-logo {
    height: auto;
    width: 80px;
    margin: 20px;
}

.one {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    padding: 23em;
    background-image: url(./Cosmere-universe.jpeg);
}

.text {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
    margin: 0px;
}

span{
    color: rgba(255, 254, 254, 0.699);
}

#cosmere-img {
    height: 200px;
    width: auto;
    position: relative;
}

.characters {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background-color: rgb(230, 230, 230);
    border: 10px blue;
    border-radius: 24px;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-img {
    height: auto;
    width: 250px;
    padding: 10px;
}

.character-name {
    font-weight: 900;
    color: black;
    padding: 10px;
}

footer, .three {
    background-color: rgb(117, 146, 187);
}

.three {
    margin: 10px;
    padding: 30px;
}

.quote {
    text-align: center;
    color: azure;
    font-style: italic;
    font-size: 30px;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-box {
    border-radius: 30px;
    background-color: lightcyan;
    width: 500px;
    margin: 20px;

}

footer > p {
    text-align: center;
    color: white;
}
